@import '../../styles/devices';
@import '../../styles/generals';

.header-container {
    padding: 1.25rem 0.5rem;
    width: 100%;
    background-color: rgb(40, 44, 52);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}


img {
    height: 50px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.25rem;
    color: #fff;

    &:active,
    &:visited {
        color: #fff;
    }

    &:active {
        transform: scale(1.15);
    }
}